.home {
  // border: 1px solid red;
  height: 100vh;
  width: calc(800px * 3);
  position: relative;
  display: flex;
  flex-direction: row;
  .page-one,.page-two, .page-three {
    height: 100vh;
    width: 100vw;
    max-width: 800px;
    min-width: 800px;
  }
  .bday-logo {
    position: absolute;
    top: -44px;
    left: 700px;
    z-index: -1;
    transform: skewY(10deg);
    .bday-font {
      @extend %ff__IBMPlexSerif--700;
      @include fluid-type(85px, 90px);
      display: flex;
      &:nth-of-type(1){
        color: $theme-color-1;
      }
      &:nth-of-type(2){
        color: $theme-color-2
      }
      &:nth-of-type(3){
        color: $theme-color-3
      }
      &:nth-of-type(4){
        color: $theme-color-4
      }
      &:nth-of-type(5){
        color: $theme-color-1
      }
      &:nth-of-type(6){
        color: $theme-color-2
      }
      &:nth-of-type(7){
        color: $theme-color-3
      }
    }
    &.front {
      .bday-font {
        // text-shadow: -19px 20px 0px cc(bg);
        // text-shadow: -19px 20px 0px cc(bg);
        text-shadow: -12px 6px 0px cc(bg);
      }
    }
    &.back {
      left: 686px;
      top: -38px;
      z-index: -2;
      .bday-font {
        color: cc(almost-pink, .2);
      }
    }
  }
}