.page-three {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  // padding: 0 30px 0 0;
  overflow: hidden;
  position: relative;
  .a-note {
    @extend %ff__IBMPlexSerif--700;
    @include imageBorderBoxShadowInverted;
    @include imageBorderBoxShadow;
    margin-right: 26px;
  }
  .place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .restaurant {
      background: cc(bg);
      @include imageBorderBoxShadowInverted;
      a {
        height: 100%;
        width: 100%;
        display: block;
      }
      p:hover {
        color:#ECCCBC;
      }
    }
    p {
      color:$theme-color-1;
      font-size: 76px;
      @extend %ff__PlayfairDisplay--900;
      &.time {
        &:nth-of-type(1) {
          margin-top: 20px;
        }
        color: $theme-color-4;
      }
      &.blackout {
        transition: all 500ms ease-in;
      }
      &.blackout:hover {
        filter: blur(8px)
      }
      &.blackout-2 {
        filter: blur(1px)
      }
      &.blackout-3 {
        filter: blur(2px)
      }
      &.blackout-4 {
        filter: blur(3px)
      }
    }
  }
}